@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::-webkit-scrollbar { 
    display: none; 
}
body {

    color:rgba(255,255,255,0.78);
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* ------------------------------------
MOBILE FIRST RESPONSIVE NAV
------------------------------------ */
/**
 * VARIABLES
 * =========
 */
/**
 * NAV WRAPPER
 * ===========
 *
 * <nav> element that wraps our navigation.
 *
 * [1] Make sure we can’t actually see the absolutely positioned dropdown.
 */
.responsive-nav {
  position: relative;
  max-width: 20em;
  overflow: hidden;
  z-index:3;
  margin-bottom:1rem;
  /* Now show full width */
}
@media (min-width: 40em) {
  .responsive-nav {
    max-width: 100%;
  }
}

/* Class added via JS when toggled open */
.responsive-nav--open {
  overflow: visible;
}

/**
 * NAV LIST
 * ========
 */
.responsive-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f43059;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  /**
   * Hide nav by default only when JS is running and viewport is less than
   * navigation breakpoint.
   * The wrapper has 'overflow: hidden;' which hides it.
   */
  /* Remove background */
}
@media (max-width: 40em) {
  .js .responsive-nav__list {
    position: absolute;
  }
}
@media (min-width: 40em) {
  .responsive-nav__list {
    background: none;
  }
}

/**
 * NAV LIST ITEMS
 * ==============
 */
.responsive-nav__item {
  border-top: 1px solid #f76080;
  /* Change from stacked to display in a row */
}
@media (min-width: 40em) {
  .responsive-nav__item {
    display: inline-block;
    border-top: none;
  }
}

/**
 * NAV LINKS
 * =========
 *
 * [1] Ensure that the link text lines up with the hamburger.
 * [2] Ensure that the link text is the same height as the trigger.
 */
/* Reusable silent class so we can share styles with the toggle */
.responsive-nav__link, .responsive-nav__toggle {
  color: #fff;
  display: block;
  white-space: nowrap;
  padding-right: 14px;
  padding-left: 14px;
  line-height: 44px;
}

.responsive-nav__link {
  /* Background now gone so change link colour */
}
@media (min-width: 40em) {
  .responsive-nav__link {
    color: #f43059;
  }
}

/**
 * TOGGLE BUTTON
 * =============
 *
 * <a> element inserted via JavaScript which toggles the nav.
 *
 * [1] Match the navigation link styles.
 * [2] So toggle button width is at least the hit-area size, but can grow.
 */
.responsive-nav__toggle {
  display: inline-block;
  background: #f43059;
  min-width: 44px;
  border-radius: 3px;
  box-sizing: border-box;
  /* Content for toggle button */
  /* Menu open styles */
  /* Now hide the toggle button as menu show by default */
}
.responsive-nav__toggle:before {
  content: "☰";
  font-size: 16px;
  line-height: 1;
}
.responsive-nav__toggle:hover {
  text-decoration: none;
}
.responsive-nav--open .responsive-nav__toggle {
  width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* Change hamburger icon to a close icon */
}
.responsive-nav--open .responsive-nav__toggle:before {
  content: "✕";
}
@media (min-width: 40em) {
  .responsive-nav__toggle {
    display: none;
  }
}

/**
 * Housekeeping. Nothing to see here...
 */
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

latest-tasks {
        width:100%;
    max-width:40rem;
    overflow-x:hidden;
    overflow-y:scroll;
}
tasktime-listitem {
    display:flex;
    flex-flow:row nowrap;
    border-bottom:1px solid white;
    height:3.5rem;
}
    tasktime-listitem .left-column {
        display:flex;
        flex-flow:column;
        flex-grow:1;
    }
    tasktime-listitem .right-column {
        display:flex;
        flex-flow:column;
        flex-grow:1;
        text-align:right;
        padding-right:0.5rem;
    }
    tasktime-listitem div {
        overflow:hidden;
        white-space:nowrap;
        padding:0.25rem 0.1rem;
    }
        tasktime-listitem div#customerName {
            width:8rem;
        }
        tasktime-listitem div:nth-child(4) {
            text-align:right;
        }
select, textarea {
    min-width:10rem;
    max-width:24rem;
    width:100%;
    margin:0.25rem;
}
current-tasks {
        width:100%;
    max-width:40rem;
    display:flex;
    flex-flow:column;
    /* box-shadow:  0px 0px 12px 12px rgba(0,255,0,0.7), inset 0px 0px 24px 24px rgba(0,255,0,0.5); */
    margin-bottom:1.5rem;

}
tasktime-active {
    width:100%;
    max-width:40rem;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    border-bottom:1px solid silver;
    height:3rem;
    border:1px solid silver;
}
    tasktime-active div:nth-child(1) {
        width:15rem;
    }
    tasktime-active div:nth-child(2) {
        width:5rem;
    }
    tasktime-active div:nth-child(1) div {   
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        margin:0.25rem 0.25rem 0 0.25rem;
        width:100%;;
    }
        
        tasktime-active div:nth-child(3), tasktime-active div:nth-child(4) {
            text-align:right;
            width:5rem;
        }
add-tasktime {
    width:calc(100% - 6px);
    max-width:30rem;
    padding:1rem;
    position:absolute;
    top:4.5rem;
    margin:0 auto;
    border:1px solid silver;
    border-radius:0.5rem;
    box-shadow:4px 4px 12px 14px rgba(0,0,0,0.3);
    
}
side-menu {
    display:flex;
    width:100%;
    max-width:40rem;
    margin:1rem auto;
    background:rgba(255,255,255,0.45);
    justify-content:space-between;
}
.side-menu-icon {
    fill:rgba(219, 83, 43, 0.8);
    height:3.5rem;
    padding:0.25rem;
    width:3.5rem;
}