@model Tajm.Models.TaskTime

@{
    ViewBag.Title = "Home Page";
}
<div container relative>
    
    <div style="display:flex;flex-flow:column;justify-content:flex-start;align-items:center;height:30rem;">
        <current-tasks></current-tasks>
        <add-tasktime id="addTaskTimeForm" style="display:none;position:absolute;top:0;background:rgba(0,0,0,0.7)"></add-tasktime>
        <latest-tasks></latest-tasks>
    </div>
</div>
<div class="row">

    <div class="col-md-12">


    </div>

</div>
