@model Tajm.Models.TaskTime

@{
    ViewBag.Title = "Home Page";
}
<div container>
    <add-tasktime></add-tasktime>
    <h3>Pågående</h3>
    <current-tasks></current-tasks>
    <h3>Senaste</h3>
    <latest-tasks></latest-tasks>    
</div>
<div class="row">

    <div class="col-md-12">


    </div>

</div>
